/* Global Section*/

* {

    box-sizing: border-box;
}

html {

    font-size: 14px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

a {

    color: #ff2400;
    font-weight: bolder;
    text-decoration: none;
}

h1 {

    font-size: 16px;
    font-weight: bolder;
}

/*End of Global Section*/

/* Navigation Bar */

.school-logo {

    display: flex;
    align-items: center;
    font-size: 1.2rem;
    color: #ff2400;
    text-decoration: none;
}

.school-name {

    margin-left: 2.5rem;
}

.navigation ul {

    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}

.navigation a {

    text-decoration: none;
    padding: 1rem;
}

.navigation a:hover {

    color: #8E3028;
}

.main-header {

    display: flex;
    justify-content: space-between;
    align-items: right;
    height: 10px;
    margin-top: 50px;
    margin-inline: 10px;
}

/* End Navigation Bar*/

/* Home Page */

.container {

    margin: 20px;
    padding: 20px;
}

.subforum {

    margin-top: 20px;
}

.subforum-title {

    background-color: #8E3028;
    padding: 5px;
    border-radius: 5px;
    margin: 4px;
}

.subforum-title h1 {

    padding: 5px;
    border-radius: 5px;
    margin: 4px;
}

.subforum-title a {

    color: white;
}

.subforum-description * {

    margin-block: 0;
}

.subforum-row {

    display: grid;
    grid-template-columns: 7% 60% 13% 20%;
}

.subforum-column {

    padding: 10px;
    margin: 4px;
    border-radius: 5px;
    background-color: #C4C4C4;
}

.subforum-icon i {

    font-size: 45px;
}

.subforum-divider {

    display: none;
}

.center {

    display: flex;
    justify-content: center;
    align-items: center;
}


/* End of Home Page */

/* Footer */

footer {

    margin-top: 20px;
    padding: 20px;
    display: block;
    text-align: center;
}

/* End of Footer*/

/* Start of Forum Posts Section*/

/* Table Head */

.table-head {

    display: flex;
}

.table-head div {

    padding: 5px;
    margin: 2px;
    background-color: #8E3028;
    font-weight: bold;
}

.table-head .status {

    flex: 5%;
}

.table-head .subjects {

    flex: 70%;
}

.table-head .replies {

    flex: 10%;
}

.table-head .last-reply {

    flex: 15%;
}

/* End of Table Head */

/* Table Body */

.table-row {

    display: flex;
}

.table-row .status, .table-row .subjects, .table-row .replies, .table-row .last-reply {

    padding: 5px;
    margin: 2px;
    background-color: #C4C4C4;
}

.table-row .status {

    flex: 5%;
    font-size: 30px;
    text-align: center;
}

.table-row .subjects {

    flex: 70%;
}

.table-row .replies {

    flex: 10%;
}

.table-row .last-reply {

    flex: 15%;
}

/* End of Table Body */

/* Media Queries Section*/

/* Smart Phones*/

@media screen and (max-width: 480px) {

    .container {

        margin: 10px;
        padding: 10px;
    }

    .subforum-row {

        display: grid;
        grid-template-columns: 25% 90%;
        grid-template-rows: 65% 35%;
    }

    .subforum-stats {

        font-size: 12px;
    }

    .subforum-divider {

        display: block;
        border: 0;
        height: 1px;

    }
}

/* Tablets*/
@media screen and (min-width: 460) and (max-width: 1024px) {

    html {

        font-size: 16px;
    }

    h1 {

        font-size: 18px;
    }

    .container {

        margin: 15px;
        padding: 15px;
    }

    .subforum-row {

        display: grid;
        grid-template-columns: 10% 60% 10% 20%;
    }

    .subforum-icon i {
        
        font-size: 35px;
    }


}

/* End of Media Queries Section*/