/* Global Section*/

* {

    box-sizing: border-box;
}

html {

    font-size: 14px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

a {

    color: #ff2400;
    font-weight: bolder;
    text-decoration: none;
}

h1 {

    font-size: 16px;
    font-weight: bolder;
}

/*End of Global Section*/

/* Home Page */

.container {

    margin: 20px;
    padding: 20px;
}

.subforum {

    margin-top: 20px;
}

.subforum-title {

    background-color: gray;
    padding: 5px;
    border-radius: 5px;
    margin: 4px;
}

.subforum-description * {

    margin-block: 0;
}

.subforum-row {

    display: grid;
    grid-template-columns: 7% 60% 13% 20%;
}

.subforum-column {

    padding: 10px;
    margin: 4px;
    border-radius: 5px;
    background-color: lightgray;
}

.subforum-icon i {

    font-size: 45px;
}

.subforum-divider {

    display: none;
}

.center {

    display: flex;
    justify-content: center;
    align-items: center;
}


/* End of Home Page */

/* Media Queries Section*/


/* Smart Phones*/
@media screen and (max-width: 480px) {

    .container {

        margin: 10px;
        padding: 10px;
    }

    .subforum-row {

        display: grid;
        grid-template-columns: 25% 75%;
        grid-template-rows: 65% 35%;
    }

    .subforum-stats {

        font-size: 12px;
    }

    .subforum-divider {

        display: block;
        border: 0;
        height: 1px;

    }
}

/* Tablets*/
@media screen and (min-width: 460) and (max-width: 1024px) {

    html {

        font-size: 16px;
    }

    h1 {

        font-size: 18px;
    }

    .container {

        margin: 15px;
        padding: 15px;
    }

    .subforum-row {

        display: grid;
        grid-template-columns: 10% 60% 10% 20%;
    }

    .subforum-icon i {
        
        font-size: 35px;
    }


}

/* End of Media Queries Section*/